<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp00F70D74F64848C1781B2FF5436EC1CB" Guid="{566C78F6-A1A5-4CF2-9F63-96452BA4AD41}">
                <File Id="filB09665B9622DF25B739264D859F596ED" KeyPath="yes" Source="$(var.BasePath)\log.txt" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{5A93274D-45AB-45DF-85A9-7205AAA02CF0}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.BasePath)\Ninject.dll" />
            </Component>
            <Component Id="cmpB8D71C46885F3F849C4526BB4F6C303F" Guid="{07920A22-6FC0-4829-A8B4-C8DB93F79231}">
                <File Id="filE3269A14F34C799370A12BE5D82002D0" KeyPath="yes" Source="$(var.BasePath)\Ninject.xml" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{63289F81-0012-4AD1-B688-80811B053974}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp3675421429B9A0E934C7B2D939AAF6EE" Guid="{773243D7-400A-4522-AD35-5B3061939EF2}">
                <File Id="filE33AE821547C33AB8A923BE4FFE628A7" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.xml" />
            </Component>
            <Component Id="cmp621E70888CBEC960A2E24CC083477A0A" Guid="{248A2D42-7488-431D-B727-558F016107DA}">
                <File Id="fil86164936914BF714D47498355CC8939B" KeyPath="yes" Source="$(var.BasePath)\Testinator.AnimationFramework.dll" />
            </Component>
            <Component Id="cmp3C496DC84ACD1822269D32E790ED870F" Guid="{E0212FCD-814D-45BD-B369-AD508DFC1219}">
                <File Id="fil308D2E5E99FE6250913B40E34EEC223A" KeyPath="yes" Source="$(var.BasePath)\Testinator.Core.dll" />
            </Component>
            <Component Id="cmp91A8374F9242AB0DD645CA275B766C59" Guid="{70FEC36A-8CFF-496E-9F98-68062619F2E3}">
                <File Id="filBE8DA8F9D1AFB323CD2A1C13E9106EC9" KeyPath="yes" Source="$(var.BasePath)\Testinator.Network.Server.dll" />
            </Component>
            <Component Id="cmpBFBEC078C1B79348E5F77D5EF6E9847F" Guid="{0E13EE01-9C4B-44F4-B6C2-518AD2315743}">
                <File Id="fil0360E4FB6603AF4A01842D55802A0C4B" KeyPath="yes" Source="$(var.BasePath)\Testinator.Server.Core.dll" />
            </Component>
            <Component Id="cmp826A034B2CD36947F7D97EEB8133F102" Guid="{1BFBEE70-A15E-4190-97C1-C7CD24373C3E}">
                <File Id="fil0879797D341DB9CA0EA249D277E8A896" KeyPath="yes" Source="$(var.BasePath)\Testinator.Server.exe" />
            </Component>
            <Component Id="cmp1FEE5DFE9588606A4D0FB52A26DF2D3E" Guid="{AE64B9C3-B3F8-4880-BCF8-B63FCD2AD0B0}">
                <File Id="fil162A11B030CFF974F93FD1BFD1C4AE60" KeyPath="yes" Source="$(var.BasePath)\Testinator.Server.exe.config" />
            </Component>
            <Component Id="cmp187161E49A1217D79D514156B464B67A" Guid="{4C81B542-E688-4736-B81F-27270295D3BC}">
                <File Id="filB999D2CB001651A5C65F1F3462C9C30D" KeyPath="yes" Source="$(var.BasePath)\Testinator.UICore.dll" />
            </Component>
            <Component Id="cmp45B9DF50E5C6608E8B0510385E7FCC0F" Guid="{43616620-E9B7-4914-A87D-1F1769FC0945}">
                <File Id="fil4530A2C5C1B6B6F4C736AB911AD4C259" KeyPath="yes" Source="$(var.BasePath)\Testinator.Updater.exe" />
            </Component>
            <Component Id="cmp18B3976340179EB05002D2993A34E6AA" Guid="{6BA68765-2A3E-42F5-98C9-4F664D6913DD}">
                <File Id="filCB1659FD57DAD77BBA161CD62D1443BC" KeyPath="yes" Source="$(var.BasePath)\Testinator.Updater.exe.config" />
            </Component>
            <Directory Id="dirFD77005055268DDC768930AE39C43C8B" Name="pl-PL">
                <Component Id="cmp47CFAEE1010A7BEC5AF0DBA65771E60E" Guid="{DAA1F8EF-8C58-48FB-9E98-C28C83C0EF1F}">
                    <File Id="filA38AE125EEA4D0CAACC464B32C5CE0D1" KeyPath="yes" Source="$(var.BasePath)\pl-PL\Testinator.Core.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmp00F70D74F64848C1781B2FF5436EC1CB" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmpB8D71C46885F3F849C4526BB4F6C303F" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmp3675421429B9A0E934C7B2D939AAF6EE" />
            <ComponentRef Id="cmp621E70888CBEC960A2E24CC083477A0A" />
            <ComponentRef Id="cmp3C496DC84ACD1822269D32E790ED870F" />
            <ComponentRef Id="cmp91A8374F9242AB0DD645CA275B766C59" />
            <ComponentRef Id="cmpBFBEC078C1B79348E5F77D5EF6E9847F" />
            <ComponentRef Id="cmp826A034B2CD36947F7D97EEB8133F102" />
            <ComponentRef Id="cmp1FEE5DFE9588606A4D0FB52A26DF2D3E" />
            <ComponentRef Id="cmp187161E49A1217D79D514156B464B67A" />
            <ComponentRef Id="cmp45B9DF50E5C6608E8B0510385E7FCC0F" />
            <ComponentRef Id="cmp18B3976340179EB05002D2993A34E6AA" />
            <ComponentRef Id="cmp47CFAEE1010A7BEC5AF0DBA65771E60E" />
        </ComponentGroup>
    </Fragment>
</Wix>