
.vs/Testinator/v15/Server/sqlite3/db.lock
.vs/Testinator/v15/Server/sqlite3/db.lock
.vs/Testinator/v15/Server/sqlite3/storage.ide-shm
.vs/Testinator/v15/Server/sqlite3/storage.ide-wal
.vs/Testinator/v15/Server/sqlite3/db.lock
.vs/Testinator/v15/Server/sqlite3/storage.ide-shm
.vs/Testinator/v15/Server/sqlite3/db.lock
*.ide-wal
.vs/Testinator/v15/Server/sqlite3/storage.ide-shm
.vs/Testinator/v15/Server/sqlite3/db.lock
