<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpBEE4841D9DBCA3FF84B49A916075B597" Guid="{897C7A58-89B5-4912-A873-84DBE35FAAAD}">
                <File Id="fil5E790CAF12E1FBEF11902C112AA02E80" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Windows.Shell.dll" />
            </Component>
            <Component Id="cmp3FA8B3D8638AE1B9CA60A1240741A831" Guid="{7AECC3ED-AE81-4412-A5A2-CB9F624C5EF7}">
                <File Id="fil2F680A1A2C9C8FDFDB9BC2C4633F1937" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Windows.Shell.pdb" />
            </Component>
            <Component Id="cmpDA60982F820038280380BE207B6E738E" Guid="{DE2271C0-9B73-4648-8978-27FCAB4F5D64}">
                <File Id="filFB25B5D44CA54D4D876DD0B5BC0DA0E0" KeyPath="yes" Source="$(var.BasePath)\Ninject.dll" />
            </Component>
            <Component Id="cmpB8D71C46885F3F849C4526BB4F6C303F" Guid="{E153E2A0-0B34-48A7-9B18-D3D3D87974A9}">
                <File Id="filE3269A14F34C799370A12BE5D82002D0" KeyPath="yes" Source="$(var.BasePath)\Ninject.xml" />
            </Component>
            <Component Id="cmp3A99A623A71A716A198559E0C9D59400" Guid="{15AA7564-F6D8-4F9A-9F0E-DC939E34BE6E}">
                <File Id="filE6242AE03AF2509440ADF395C76688A4" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.dll" />
            </Component>
            <Component Id="cmp3675421429B9A0E934C7B2D939AAF6EE" Guid="{EE93A880-BE11-469E-AC14-58AB6D516C94}">
                <File Id="filE33AE821547C33AB8A923BE4FFE628A7" KeyPath="yes" Source="$(var.BasePath)\System.ValueTuple.xml" />
            </Component>
            <Component Id="cmp2A676D5DA744E52319A0D19820D62ABB" Guid="{46002A46-3AAD-466A-9196-7FEB423AE0C1}">
                <File Id="fil71A9C95C4207BA4816036CBBBAACCA2E" KeyPath="yes" Source="$(var.BasePath)\Testinator.Client.Core.dll" />
            </Component>
            <Component Id="cmp74A22C31AB9A109DCC2B75A576EBE0EF" Guid="{81B33C56-767E-41C7-9257-054777A202DB}">
                <File Id="fil3E861456B583406BDC2D1D99D175E470" KeyPath="yes" Source="$(var.BasePath)\Testinator.Client.Core.pdb" />
            </Component>
            <Component Id="cmp6601AE6D7BFA3A56E341F16D155A78DE" Guid="{DE978FF5-138B-49C1-9068-4C116FD0E36D}">
                <File Id="filDE49248DC8E40E9417CDA2455D0844DD" KeyPath="yes" Source="$(var.BasePath)\Testinator.Client.exe" />
            </Component>
            <Component Id="cmp88D4B951396F9DB767744CCC8F2B0E54" Guid="{CC5CEFDA-29E6-466E-973B-842032FE86CD}">
                <File Id="filA3A5A3D214CD6DF1261F333D5C2F86E1" KeyPath="yes" Source="$(var.BasePath)\Testinator.Client.exe.config" />
            </Component>
            <Component Id="cmp63F43432F86ED7F9EDBFF24C151E2B83" Guid="{1CE33285-A809-49EE-A8D9-47D8C4909A5D}">
                <File Id="filCCB9247FBD74754FF54B8BAB032304E3" KeyPath="yes" Source="$(var.BasePath)\Testinator.Client.pdb" />
            </Component>
            <Component Id="cmp3C496DC84ACD1822269D32E790ED870F" Guid="{408104C6-5BAF-4AEA-BDB5-BA5B43A88FCA}">
                <File Id="fil308D2E5E99FE6250913B40E34EEC223A" KeyPath="yes" Source="$(var.BasePath)\Testinator.Core.dll" />
            </Component>
            <Component Id="cmpA6600A3C0588CAA5CA2BB8C9AC5786A4" Guid="{C918E71F-4F56-4FE9-ACF8-84608FA0882F}">
                <File Id="fil5E2EC9919631F260CF28D2EC46C68733" KeyPath="yes" Source="$(var.BasePath)\Testinator.Core.pdb" />
            </Component>
            <Component Id="cmpFA3CAE20E736DDFE7454A499EFDA00C6" Guid="{39B8CDEF-F643-4602-9AA5-F91B0C1998AB}">
                <File Id="filB068EDB3C4A717296EA15D27D3EEBEDA" KeyPath="yes" Source="$(var.BasePath)\Testinator.Network.Client.dll" />
            </Component>
            <Component Id="cmp5B9E158FE796FD98B511080CBA1C212B" Guid="{CC24EBAE-AA2A-4D41-9227-A1A82DCE34C8}">
                <File Id="fil8E4E26EF25E1654DE46FDC148239C7DE" KeyPath="yes" Source="$(var.BasePath)\Testinator.Network.Client.pdb" />
            </Component>
            <Component Id="cmp187161E49A1217D79D514156B464B67A" Guid="{EFF04AB9-7F76-416C-BD43-0F597ACE3779}">
                <File Id="filB999D2CB001651A5C65F1F3462C9C30D" KeyPath="yes" Source="$(var.BasePath)\Testinator.UICore.dll" />
            </Component>
            <Component Id="cmp158969EBD0F914D8454342895569D000" Guid="{C1906C99-784C-4987-980E-67AB60C81AA6}">
                <File Id="fil0A1503E686ABF5F6164946ED642E627E" KeyPath="yes" Source="$(var.BasePath)\Testinator.UICore.pdb" />
            </Component>
            <Directory Id="dirFD77005055268DDC768930AE39C43C8B" Name="pl-PL">
                <Component Id="cmpA128A6447CE90C2CF3D5EA777E23332F" Guid="{EC4B811F-D2B9-4CE8-AD84-755185803840}">
                    <File Id="filFAA7B8BBE43C2AA3E8C16204446FADB7" KeyPath="yes" Source="$(var.BasePath)\pl-PL\Testinator.UICore.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpBEE4841D9DBCA3FF84B49A916075B597" />
            <ComponentRef Id="cmp3FA8B3D8638AE1B9CA60A1240741A831" />
            <ComponentRef Id="cmpDA60982F820038280380BE207B6E738E" />
            <ComponentRef Id="cmpB8D71C46885F3F849C4526BB4F6C303F" />
            <ComponentRef Id="cmp3A99A623A71A716A198559E0C9D59400" />
            <ComponentRef Id="cmp3675421429B9A0E934C7B2D939AAF6EE" />
            <ComponentRef Id="cmp2A676D5DA744E52319A0D19820D62ABB" />
            <ComponentRef Id="cmp74A22C31AB9A109DCC2B75A576EBE0EF" />
            <ComponentRef Id="cmp6601AE6D7BFA3A56E341F16D155A78DE" />
            <ComponentRef Id="cmp88D4B951396F9DB767744CCC8F2B0E54" />
            <ComponentRef Id="cmp63F43432F86ED7F9EDBFF24C151E2B83" />
            <ComponentRef Id="cmp3C496DC84ACD1822269D32E790ED870F" />
            <ComponentRef Id="cmpA6600A3C0588CAA5CA2BB8C9AC5786A4" />
            <ComponentRef Id="cmpFA3CAE20E736DDFE7454A499EFDA00C6" />
            <ComponentRef Id="cmp5B9E158FE796FD98B511080CBA1C212B" />
            <ComponentRef Id="cmp187161E49A1217D79D514156B464B67A" />
            <ComponentRef Id="cmp158969EBD0F914D8454342895569D000" />
            <ComponentRef Id="cmpA128A6447CE90C2CF3D5EA777E23332F" />
        </ComponentGroup>
    </Fragment>
</Wix>